.navbar.is-link {
  background-color: seagreen;
}
.navbar-menu {
  background-color: seagreen;
}
.hero.is-info {
  background-color: seagreen;
}



.section-heading {
  display: flex;
  justify-content: center;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.card-image {
  opacity: 100;
}

.card-image img:hover {
  opacity: 0.5;
}
#comment {
  text-align: center;
  border: 3px solid green;
}

#logo {
  position: absolute;
  top: 13px;
  left: 16px;
  font-size: 18px;
}

.sidebar-personal-info-section {
  position: relative;
}

.changing-keyword {
  font-weight: bold;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  visibility: collapse;
  position: absolute;
  padding-left: 0.2rem;
}

.shown {
  opacity: 1;
  visibility: visible;
}
